
#boton{
    background-color: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

#border{
    box-shadow: 15px 5px 10px #48529944;

    background:rgba(194, 194, 194, 0.4);
}

#imagen{
    width: 10rem;
}
